@import '../_variables';

$input-transition: 0.5s;

input {
  color: $primary-gray-3;
  background: transparent;
  &:focus {
    outline: 0;
  }
}

.input {
  border: 0;
  border-bottom: 1px solid $primary-gray-3;
  transition: $input-transition;
  padding: 5px;

  &:focus {
    border-bottom: 1px solid $primary-1;
  }
}

// Calendar
// --------------------
.calendar-input {
  border: 1px solid $primary-gray-4;
  padding: 5px;
  text-align: center;
}