// ----------------------------------------------------
// Palletes
// --------------------
// blues:
// #01579B, #0277BD, #0288D1, #039BE5, #03A9F4, #29B6F6, #4FC3F7, #81D4FA, #B3E5FC, #E1F5FE

// oranges:
// #F57F17, #F9A825, #FBC02D, #FDD835, #FFEB3B, #FFEE58, #FFF176, #FFF59D, #FFF9C4, #FFFDE7
// ----------------------------------------------------

.t-bg1 {
  background: #598caa;
}

.t-bg2 {
  background: #f2d052;
}

.t-bg3 {
  background: #124b8c;
}

.t-bg3 {
  background: #ce1129;
}

.t-bg4 {
  background: #99dfe3;
}

.t-bg5 {
  background: #eed1c7;
}

.t-bg6 {
  background: #88b249;
}

.t-bg9 {
  background-color: rgba(0, 0, 0, 0.07);
}

.t-h0 {
  height: 40px;
}

.t-h1 {
  height: 70px;
}
