<div class="container mb-1" *ngFor="let coin of coins; let i = index">
    <div class="flex">
        <div class="flex flex-align-items-center this-coin-index mr-4">{{ i+1 }}</div>
        <div class="this-coin-image mr-4">
            <img [src]="'/assets/img/' + coin.name + '.png'">
        </div>
        <div class="this-coin-info-wrapper">
            <div class="this-coin-name mb-1">{{ coin.name }}</div>
            <div class="this-coin-more">{{ coin.marketCap }} $ market cap</div>
        </div>

        <div class="flex-1">
            <div class="mb-1">last 30 days</div>
            <div class="this-coin-chart"></div>
        </div>
    </div>
</div>