<div class="container-max-width container-py-1 mx-auto">
    <div class="mb-4">MOST POPULAR CRYPTOCURRENCIES</div>

    <views-dashboard-coin-summary [coins]="coins"></views-dashboard-coin-summary>

    <!--<div class="flex flex-justify-center" style="margin-bottom: 30px;">-->
    <!--<div class="flex-1 container-max-width">MOST POPULAR CRYPTOCURRENCIES</div>-->
    <!--</div>-->

    <!--<div class="flex flex-justify-center">-->
    <!--<div class="flex-1 container-max-width t-bg2 t-h0"></div>-->
    <!--</div>-->

    <!--<div class="flex-1">abc</div>-->
</div>
